/*
 * GlobalMentor web site based on Bootstrap.
 * Copyright © 2016 GlobalMentor, Inc. (https://www.globalmentor.com/)
 *
 * Requires a Bootstrap installation in this directory.
 */

@import url("globalmentor-web.css");
@import url("bootstrap.min.css");

header .jumbotron {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

article {
	margin-left: 2em;
	margin-right: 2em;
}

footer {
	margin: 1em;
}
