/*
 * GlobalMentor document styles.
 * Copyright © 2016 GlobalMentor, Inc. (https://www.globalmentor.com/)
 *
 * This is an aggregate style sheet for documents and documentation.
 *
 * Variables:
 * * `--icon-font-family`: The name of the icon font being used.
 *                         Defaults to `"Font Awesome 5 Free"`.
 */

@import url("blueprint/src/typography.css");
@import url("fontawesome-all.min.css");
@import url("prism.css");
@import url("guise-skeleton-layout.min.css");
@import url("globalmentor-semantics.css");
@import url("globalmentor-style.css");

table {
	width: auto;
}

table caption {
	background-color: inherit;
}

td, th {
	border: 0.1em dotted;
	border-color: gray;
}

tbody tr:nth-child(even):not(.emphasize) td {
	/*TODO fix to match Prism coy theme*/
	background-color: whitesmoke;
}

tr.emphasize td, th.emphasize, td.emphasize {
	background-color: silver !important;
}

/* ## Blueprint */

kbd {
	/* Revert size from `typography.css`.*/
	font-size: inherit;
}

thead th,
tbody th,
tfoot th {
	/* `typography.css` uses #C3D9FF but only for `thead th`. */
	background: var(--color-info-light);
	text-align: left;
}
