/*
 * GlobalMentor semantic styles.
 * Copyright © 2016 GlobalMentor, Inc. (https://www.globalmentor.com/)
 *
 * Suitable as a mixin.
 * Requires: `fontawesome-all.min.css`
 *
 * Variables:
 * * `--icon-font-family`: The name of the icon font being used.
 *                         Defaults to `"Font Awesome 5 Free"`.
 *
 * `:not(.token)`s prevents matching prism.js internal styling;
 * see https://github.com/PrismJS/prism/issues/1055
 */

.annotation:not(.token)::before {
	/*far fa-sticky-note*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F249\00A0";
}

.bad:not(.token)::before {
	/*far fa-thumbs-down*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F165\00A0";
}

.error:not(.token)::before {
	/*fas fa-times-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F057\00A0";
}

.good:not(.token)::before {
	/*far fa-thumbs-up*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F164\00A0";
}

.idea:not(.token)::before {
	/*far fa-lightbulb*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F0EB\00A0";
}

.important:not(.token)::before {
	/*fas fa-exclamation-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F06A\00A0";
}

.info:not(.token)::before {
	/*fas fa-info-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F05A\00A0";
}

.learn:not(.token)::before {
	/*fas fa-graduation-cap*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F19D\00A0";
}

.marquee:not(.token) {
	text-align: center;
}

.no:not(.token)::before {
	/*fas fa-times-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F057\00A0";
}

.note:not(.token)::before {
	/*fas fa-thumbtack*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F08D\00A0";
}

.question:not(.token)::before {
	/*fas fa-question-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F059\00A0";
}

.ref::after {
	/*fas fa-arrow-circle-down*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F0AB\00A0";
}

.ref-target:not(.token)::before {
	/*far fa-dot-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F192\00A0";
}

.reference:not(.token)::before {
	/*fas fa-book*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F02D\00A0";
}

.resource:not(.token)::before {
	/*fas fa-file*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F15B\00A0";
}

.review:not(.token)::before {
	/*fas fa-pencil-alt*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F303\00A0";
}

.see:not(.token)::before {
	/*fas fa-external-link-alt*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	font-size: smaller;
	content: "\F35D\00A0";
}

.task:not(.token)::before {
	/*fas fa-tasks*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F0AE\00A0";
}

.thanks:not(.token)::before {
	/*fas fa-thumbs-up*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F164\00A0";
}

.tip:not(.token)::before {
	/*fas fa-check-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F058\00A0";
}

.warning:not(.token)::before {
	/*fas fa-exclamation-triangle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F071\00A0";
}

.yes:not(.token)::before {
	/*fas fa-check-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F058\00A0";
}

a.download::after {
	/*fas fa-download*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\00A0\F019\00A0";
}

a.external::after {
	/*fas fa-external-link-alt*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	font-size: smaller;
	content: "\00A0\F35D\00A0";
}

a[target="_blank"]::after {
	/*fas fa-external-link-alt*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	font-size: smaller;
	content: "\00A0\F35D\00A0";
}

aside.annotation:before, aside.bad:before, aside.error:before, aside.good:before, aside.idea:before, aside.important:before, aside.info:before, aside.learn:before, aside.note:before, aside.question:before, aside.reference:before, aside.resource:before, aside.review:before, aside.see:before, aside.task:before, aside.thanks:before, aside.tip:before, aside.warning:before {
	font-size: 200%;
}

img.character {
	min-height: 2em;
	/*TODO use 1em when i18n character PNG is resized*/
	height: 2em;
	/*TODO use 1em when i18n character PNG is resized*/
	width: auto;
	vertical-align: text-bottom;
}

span.annotation:not(.token), span.note:not(.token) {
	font-style: italic;
}

/* Tag-Specific Styles */
code.name {
	/* Represents official, computer-recognized name, but may not be main identifier. */
	font-style: italic;
}

code.uml.class.abstract, code.uml.operation.abstract {
	font-style: italic;
}

code.uml.class.instance {
	text-decoration: underline;
}

code.uml.property.static, code.uml.operation.static {
	text-decoration: underline;
}

code.unicode:before {
	/*fas fa-language*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F1AB\00A0";
}

kbd.keypress:before {
	/*far fa-keyboard*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F11C\00A0";
}

kbd.keypress {
	font-weight: bold;
}

kbd.menu, kbd.menu-check {
	font-family: inherit;
	font-weight: bold;
}

kbd.menu:before {
	/*fa2 fa-bars*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	content: "\F0C9\00A0";
}

kbd.menu-check:before {
	/*far fa-check-square*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F14A\00A0";
}

kbd.mouse:before {
	/*fas fa-mouse-pointer*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F245\00A0";
}

mark.field {
	/*a marked field to be filled in as on a form*/
	display: inline-block;
	font-size: 80%;
	font-style: italic;
	font-variant: small-caps;
	/*place text below a dotted line*/
	border-top: 0.2em dotted;
	position: relative;
	top: 1em;
	margin-bottom: 1.2em;
	margin-top: 1.2em;
}

mark.field.ample {
	min-width: 18em;
}

mark.field:before {
	/*fas fa-pencil-alt*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "[\F303\00A0";
}

mark.field::after {
	content: "]";
}

/* for color groups see http://jfly.iam.u-tokyo.ac.jp/color/ */
:not(code):not(.token) > mark.group1, code:not([class*=language-]) mark.group1 {
	background-color: #D55EA7;
}

code[class*=language-] mark.group1 {
	text-decoration: underline double #D55EA7;
}

code[class*=language-] mark mark.group1 {
	color: inherit;
	background-color: inherit;
}

mark.text.group1 {
	color: #D55EA7;
	background-color: inherit;
}

:not(code):not(.token) > mark.group2, code:not([class*=language-]) mark.group2 {
	background-color: #009E73;
}

code[class*=language-] mark.group2 {
	text-decoration: underline double #009E73;
}

code[class*=language-] mark mark.group2 {
	color: inherit;
	background-color: inherit;
}


mark.text.group2 {
	color: #009E73;
	background-color: inherit;
}

:not(code):not(.token) > mark.group3, code:not([class*=language-]) mark.group3 {
	background-color: #56B4E9;
}

code[class*=language-] mark.group3 {
	text-decoration: underline double #56B4E9;
}

code[class*=language-] mark mark.group3 {
	color: inherit;
	background-color: inherit;
}

mark.text.group3 {
	color: #0072B2;
	background-color: inherit;
}

mark.group4 {
	background-color: #E69F00;
}

mark.text.group4 {
	color: #E69F00;
	background-color: inherit;
}

ol ol:not([start]) {
	list-style-type: lower-alpha;
}

ol ol ol:not([start]) {
	list-style-type: lower-roman;
}

ul.check>li:before, li.check:before {
	/*fas fa-check-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F058\00A0";
}

td.math, th.math {
	text-align: right;
}

tr.emphasize td {
	font-weight: bold;
}

q.question.pedagogical {
	font-style: italic;
	quotes: none;
}

q.question.pedagogical:not(.token)::before {
	/*far fa-lightbulb*/
	/*far fa-question-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F0EB\00A0\F059\00A0";
}

/* Entity-Relationship diagramming */
table.e-r>thead>tr>th.foreign-key, code.e-r.foreign-key {
	text-decoration: underline;
	text-decoration-style: dotted;
}

table.e-r>thead>tr>th.key, code.e-r.key {
	text-decoration: underline;
}

code.e-r.diagram.entity, code.e-r.diagram .entity {
	display: inline-block;
	border-style: solid;
	border-width: thin;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

code.e-r.diagram.relationship, code.e-r.diagram .relationship {
	text-decoration: line-through;
}

code.e-r.diagram.relationship .name, code.e-r.diagram .relationship .type {
	vertical-align: super;
}

/* Development Styles */
.dev-branch:before {
	/*fas fa-code-branch*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F126\00A0";
}

/* Operating System Styles */
.os-linux:before {
	/*fab fa-linux*/
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	content: "\F17C\00A0";
}

.os-mac:before {
	/*fab fa-apple*/
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	content: "\F179\00A0";
}

.os-windows:before {
	/*fab fa-windows*/
	font-family: "Font Awesome 5 Brands";
	font-weight: 400;
	content: "\F17A\00A0";
}

/* Specification Styles */
.spec-may, .spec-must, .spec-must-not, .spec-should, .spec-should-not {
	font-variant: small-caps;
}

.spec-must:before {
	/*fas fa-exclamation-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F06A\00A0";
}

.spec-must-not:before {
	/*fas fa-times-circle*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	content: "\F057\00A0";
}

.spec-should:before {
	/*far fa-thumbs-up*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F164\00A0";
}

.spec-should-not:before {
	/*far fa-thumbs-down*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 400;
	content: "\F165\00A0";
}

ol.spec-production, ul.spec-production {
	font-family: "lucida concole", monospace;
}
