/*
 * GlobalMentor general styles.
 * Copyright © 2016 GlobalMentor, Inc. (https://www.globalmentor.com/)
 *
 * Thes styles are meant to tweak existing base styles such as
 * `globalmentor-semantics` and `guise-skeleton`.
 *
 * This style sheet recognizes and plays well with the following libraries:
 * * [Prism](https://prismjs.com/)
 * * [reveal.js](https://revealjs.com/)
 *
 * This style sheet must be added _after_ the library style sheets mentioned above.
 *
 * Variables:
 * * `--icon-font-family`: The name of the icon font being used.
 *                         Defaults to `"Font Awesome 5 Free"`.
 */

:root {
	--color-primary: var(--color-info);
	--color-primary-light: var(--color-info-light);
	--color-info: #00529B;
	--color-info-light: #BDE5F8;
	--color-success: #4F8A10;
	--color-success-light: #DFF2BF;
	--color-warning: #9F6000;
	--color-warning-light: #FEEFB3;
	--color-error: #D8000C;
	--color-error-light: #FFBABA;
}

.break {
	clear: both;
}

.error {
	color: var(--color-error);
}

.no::before {
	color: var(--color-error);
}

.yes::before {
	color: var(--color-success);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/*internal links*/
a[href^="#"] {
	font-weight: bold;
}

/* Don't apply to reveal.js `<aside class="controls">`, used for slideshow controls. */
:not(.reveal)>aside {
	border: 0.1em solid;
	clear: both;
	margin: 0.5em 1em;
	padding: 1em;
}

aside.float-start, p.float-start {
	clear: left;
}

aside.float-end, p.float-end {
	clear: right;
}

aside.annotation {
	color: #9F6000;
	background-color: lightyellow;
	font-style: italic;
}

aside.error {
	color: var(--color-error);
	background-color: var(--color-error-light);
}

aside.important {
	color: #D8000C;
}

aside.info {
	color: var(--color-info);
	background-color: var(--color-info-light);
}

aside.note {
	background-color: whitesmoke;
}

aside.reference,
aside.resource,
aside.see,
aside.tip {
	color: var(--color-success);
	background-color: var(--color-success-light);
}

aside.warning {
	color: var(--color-warning);
	background-color: var(--color-warning-light);
}

/*signature placement area*/

dl.signature dd {
	border-bottom: 0.2em dotted;
	min-width: 20em;
}

dl.signature dd::before {
	/*fas fa-pencil-alt*/
	font-family: var(--icon-font-family, "Font Awesome 5 Free");
	font-weight: 900;
	font-size: 180%;
	content: "\F303\00A0";
}

figure {
	margin-left: 2em;
	margin-right: 2em;
}

.reveal .slides figure {
	/* Turn off margins for reveal.js slides. */
	margin-left: inherit;
	margin-right: inherit;
}

figure figcaption {
	color: gray;
	font-weight: bold;
	font-style: italic;
	page-break-inside: avoid;
	page-break-after: avoid;
}

footer {
	clear: both;
}

h1, h2, h3 {
	clear: both;
	page-break-after: avoid;
}

h4, h5, h6 {
	clear: left;
}

img {
	max-width: 100%;
}

table {
	border-collapse: collapse;
}

table caption {
	text-align: left;
	font-weight: bold;
}

/* ## Prism */

@media print {
	pre {
		font-size: 75%;
	}

}

/*
	Turn off broken shadows in Prism Coy theme.
	See [Issue #965](https://github.com/PrismJS/prism/issues/965).
	See [Issue #2164](https://github.com/PrismJS/prism/issues/2164).
	See [Issue #2170](https://github.com/PrismJS/prism/pull/2170).
*/
pre[class*="language-"]:before,
pre[class*="language-"]:after {
	display: none;
}
