/*
 * GlobalMentor document styles for a presentation.
 * Copyright © 2016 GlobalMentor, Inc. (https://www.globalmentor.com/)
 *
 * This stylesheet is meant to be added to an existing set of styles.
 *
 * This style sheet recognizes and plays well with the following libraries:
 * * [Prism](https://prismjs.com/)
 * * [reveal.js](https://revealjs.com/)
 *
 * Requires: `fontawesome-all.min.css`
 * Imports: `reveal.css`, `reveal-theme-simple.css`
 * Assumes: `globalmentor-semantics.css`, `prism.css`
 */

@import url("reveal.css");
@import url("reveal-theme-simple.css");

/* ## reveal.js */

.reveal section p, .reveal section footer {
	text-align: left;
}

.reveal section dfn {
	font-weight: bold;
}

.reveal section img {
	border: 0;
	box-shadow: none;
}

/* ## Prism */

/*
	Restore correct Prism code block size when embedded in reveal.js.
	See [Issue #3576](https://github.com/PrismJS/prism/issues/3576).
*/
.reveal code[class*="language-"],
.reveal pre[class*="language-"] {
	font-size: 0.75em;
}
